*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.title{
    position: relative;
    text-align: center;
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.navbar{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}
nav{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
}
ul{
    display: flex;
    list-style-type: none;
    user-select: none;
    pointer-events: none;
    float: right;
    margin: 10px 20px;
}
ul li{
    position: relative;
    pointer-events: all;
    margin: 10px 20px;
}
a::before{
    position: absolute;
    content: "";
    width: 0;
    height: 2.5px;
    background: red;
    left: 50%;
    bottom: -10px;
    border-radius: 5px;
}
li:hover a::before{
    width: 100%;
    left: 0;
    transition: 0.2s all;
}
a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.container1{
    width: 90%;
    margin: 0 auto;
}
.header{
    margin-left: 8%;
    margin-top: 15%;
    margin-right: 680px;
}
.header h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: tomato; 
}
.header p{
    color: #555;
    line-height: 22px;
}
.header a{
    padding: 12px 30px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    font-size: 25px;
	letter-spacing: 1.5px;
    transition: 0.6s ease;
}
.header a:hover{
    transform: scale(1.2);
    z-index: 1;
    background-color: #555;
}
.img-header{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-header img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-header:hover .shape{
    bottom: 40px;
}
.img-header:hover .pic{
    left: 45%;
}
.about{
    height: 120vh;
    background: #eff4fd;
}
.skills{
    height: 100vh;
    background: #eff4fd;
}
.contact{
    height: 100vh;
    background: #eff4fd;
}
.about-content{
    width: auto;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.about-content h3{
    text-align: center;
    padding: 10px;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: orange;
}
.circle{
    width: 45%;
    height: 80%;
    bottom: 0;
    margin: 10px 550px 10px 450px;
    align-items: center;
    display: flex;
}
.circle img{
    position: relative;
    height: 100%;
    right: 10%;
    bottom: 0;
}
.circle .bgcolor{
    bottom: 10px;
    left: 15%;
    width: 60%;
}
.circle .selfpic{
    right: 47%;
    width: 50%;
}
.about-content p{
    text-align: center;
    padding: 20px 30px 20px 30px;
}
.about-content a{
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: purple;
    display: inline-block;
    margin: 10px 570px 10px 570px;
    border-radius: 5px;
    font-size: 25px;
	letter-spacing: 1.5px;
}
.about-content a:hover{
    background-color: rgb(222, 41, 41);
}
.max-width{
    max-width: 1400px;
    padding: 50px 80px 0 80px;
    margin: auto;
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
    padding: 10px;
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: rgba(255, 0, 255, 0.682);
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid magenta;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: black;
    background: none;
    border: 2px solid red;
}
.skills .skills-content .right .bars{
    margin-bottom: 25px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.skills-content .right .com::before{
    width: 95%;
    background: rgb(0, 255, 0);
}
.skills-content .right .lead::before{
    width: 99.9%;
    background: rgb(0, 255, 21);
}
.skills-content .right .html::before{
    width: 90%;
    background: rgb(0, 255, 0);
}
.skills-content .right .css::before{
    width: 80%;
    background: rgb(0, 255, 0);
}
.skills-content .right .js::before{
    width: 70%;
    background: rgb(196, 206, 6);
}
.skills-content .right .py::before{
    width: 75%;
    background: rgb(0, 255, 0);
}
.skills-content .right .cplus::before{
    width: 85%;
    background: rgb(0, 255, 0);
}
.contact{
    position: relative;
    padding: 0px 100px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #eff4fd;
}
.contact .contact-content{
    max-width: 800px;
    text-align: center;
}
.contact .contact-content p{
    font-weight: 300;
}
.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contact-container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-container .contactInfo .contact-box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contact-container .contactInfo .contact-box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contact-container .contactInfo .contact-box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.contact-container .contactInfo .contact-box .text h3{
    font-weight: 700;
    color: rgb(255, 0, 255);
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #ffffff;
}
.contactform h2{
    font-size: 30px;
    color: rgb(255, 0, 255);
    font-weight: 700;
}
.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(18, 207, 213);
    outline: none;
    resize: none;
}
.contactform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #000;
}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span{
    color: red;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]{
    width: 100px;
    background: rgb(255, 0, 255);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    transition: 0.6s;
}
.contactform .inputBox input[type="submit"]:hover{
    background: rgb(156, 9, 9);
}
footer{
    width: auto;
}
.footer{
    position: relative;
    background: rgba(255, 0, 255, 0.6);
    padding-bottom: 20px;
    text-align: center;
}
.footer .social{
    margin: auto;
    padding: 20px;
}
.footer .social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}
.footer .social a:hover{
    color: #fff;
}
.footer p{
    font-size: 20px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: black;
}
.footer span{
    text-transform: uppercase;
    color: rgb(255, 0, 0);
    opacity: 0.8;
    font-weight: 200;
}